* {
  margin: 0;
  padding: 0;
}

/* topbar */
.topbar__container {
  display: grid;
  grid-template-columns:
    minmax(6rem, 1fr)
    repeat(8, minmax(min-content, 16rem))
    minmax(6rem, 1fr);

  grid-template-rows: repeat(3, min-content);
  gap: 1.6rem;
  margin-top: 1.6rem;
}

.topbar__social-icons {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  align-items: center;
}

.topbar__social-icon {
  font-size: 1.8rem;
  color: #12376e;
  transition: all 0.2s;
}

.topbar__social-icon:hover {
  color: #34598f;
  transform: rotateZ(360deg);
}

.topbar__nav {
  grid-column: 6 / 10;
  grid-row: 1 / 2;
}

.topbar__nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.topbar__nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #12376e;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.topbar__nav-link::after {
  content: '';
  width: 0%;
  height: 0.1rem;
  background-color: #12376e;
  display: block;
  transition: width 0.2s cubic-bezier(0.55, 0, 0.98, 0.54);
  margin: auto;
}

.topbar__nav-link:hover::after {
  width: 100%;
}

.topbar__nav-link span {
  font-size: 1.3rem;
  color: #34598f;
}

.topbar__nav-link--icon {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}
/* end topbar */
