/* grand-hotel.css */

.hotel {
  /* block-level styles */
}

/*sidebar*/
.sidebar {
  width: 10rem;
  height: 100%;
  background-color: #eee;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.sidebar__menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.sidebar__menu-icon:hover .sidebar__menu-icon-line {
  width: 2.5rem;
}

.sidebar__menu-icon-line {
  height: 0.2rem;
  width: 2.5rem;
  background-color: #222;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.sidebar__menu-icon-line--1,
.sidebar__menu-icon-line--3 {
  width: 1.8rem;
  transition: all 0.3s;
}

.sidebar__menu-icon--open .sidebar__menu-icon-line--1 {
  transform: translateY(0.7rem) rotate(405deg);
}

.sidebar__menu-icon--open .sidebar__menu-icon-line--2 {
  opacity: 0;
}

.sidebar__menu-icon--open .sidebar__menu-icon-line--3 {
  transform: translateY(-0.7rem) rotate(-405deg);
}

.sidebar__social-icons-list {
  list-style: none;
  padding: 0;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar__social-icons-link {
  font-size: 2rem;
  color: #777;
}

.sidebar__social-icons-link:hover {
  color: #deaa86;
  transition: color 0.3s;
}

.sidebar__year {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #555;
}
/*end sidebar*/

/*navigation*/
.navigation {
  position: fixed;
  left: calc(
    var(--sidebar-width) - 40rem
  ); /*width of sidebar is 10, width of nav is 40, 40-10 = 30*/
  width: 40rem;
  height: 100%;
  background:
    linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, 0.8)),
    url(./images/nav-bg.jpeg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left 0.6s cubic-bezier(1, 0, 0, 1);
}

.navigation--open {
  left: var(--sidebar-width);
}

.navigation__heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #deaa86;
  text-align: center;
}

.navigation__search {
  position: relative;
}

.navigation__search-input {
  width: 30rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  color: #deaa86;
  letter-spacing: 0.1rem;
  outline: none;
  border: 0.1rem solid #555;
  border-radius: 10rem;
  transition: background-color 0.3s;
}

.navigation__search-input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation__search-btn {
  border: none;
  background-color: transparent;
  color: #deaa86;
  font-size: 1.7rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.navigation__search-btn:focus {
  outline: none;
}

.navigation__list {
  list-style: none;
  padding: 0;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation__list-item {
  position: relative;
}

.navigation__link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.5s;
}

.navigation__link:before {
  content: '';
  width: 0rem;
  height: 0.1rem;
  background-color: #deaa86;
  position: absolute;
  top: 1rem;
  left: -4rem;
  transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation__link:after {
  content: '';
  width: 0rem;
  height: 0.1rem;
  background-color: #deaa86;
  position: absolute;
  top: 1rem;
  right: -4rem;
  transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation__link:hover {
  color: #deaa86;
}

.navigation__link:hover:before,
.navigation__link:hover:after {
  width: 3rem;
}

.navigation__copyright {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/*end navigation*/

/*header*/
.hotel__header {
  margin-left: var(--sidebar-width);
  height: 100vh;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(./images/header-1.jpeg) center no-repeat;
  background-size: cover;
}

.hotel__header-brand {
  display: flex;
  cursor: pointer;
}

.hotel__header-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  color: #deaa86;
  letter-spacing: 0.2rem;
}

.hotel__banner {
  color: #ddd;
  height: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hotel__banner-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 0;
  animation: anim 2s;
}

.hotel__banner-paragraph {
  font-size: 3.5rem;
  font-weight: 300;
  animation: anim 1.5s 0.5s backwards;
}

.hotel__banner-btn {
  width: 21rem;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  color: #333;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 10rem;
  outline: none;
  background: linear-gradient(to right, gold, goldenrod);
  cursor: pointer;
  animation: anim 1s 1s backwards;
}

.hotel__banner-btn:hover {
  background: linear-gradient(to left, gold, goldenrod);
}

.hotel__banner-btn:active {
  transform: translateY(0.2rem);
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*end header*/

/* about us */
.hotel__about-us {
  margin-left: var(--sidebar-width);
  display: flex;
  background-color: #ddd;
}

.hotel__about-us-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  box-sizing: border-box;
}

.hotel__about-us-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #555;
}

.hotel__about-us-underline--small {
  width: 9rem;
  height: 0.1rem;
  background-color: #b85d1c;
  margin: 0 auto 1rem auto;
}

.hotel__about-us-underline--big {
  width: 20rem;
  height: 0.1rem;
  background-color: #b85d1c;
}

.hotel__sub-heading {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #b85d1c;
}

.hotel__about-us-paragraph {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
}

.hotel__about-us-btn {
  width: 15rem;
  padding: 0.7rem 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #b85d1c;
  background-color: transparent;
  border: 0.1rem solid #b85d1c;
  outline: none;
  cursor: pointer;
}

.hotel__about-us-btn:hover .hotel__about-us-btn--icon {
  margin-left: 1.5rem;
  transition: margin-left 0.4s;
}

.hotel__about-us-btn--icon {
  margin-left: 0.5rem;
}

.hotel__about-us-images {
  flex: 1 1;
  position: relative;
}

.hotel__about-us-image {
  width: 32rem;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  border: 0.2rem solid #b85d1c;
}

.hotel__about-us-image--1 {
  transform: translate(-20%, -90%);
}
.hotel__about-us-image--2 {
  transform: translate(-70%, -70%);
}
.hotel__about-us-image--3 {
  transform: translate(-50%, -50%);
}
.hotel__about-us-image--4 {
  transform: translate(-30%, -30%);
}

/* end about us */
