.container {
  background-color: darkblue;
  width: 600px;
  height: 600px;
}

.small {
  padding: 10px 5px;
  margin: 10px 0px;
  border: dotted 1px #000;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.top25 {
  top: 25px;
}

.top250 {
  top: 250px;
}

.left25 {
  left: 25px;
}

.left150 {
  left: 150px;
}

.bottom0 {
  bottom: 0;
}

.doubleSize {
  width: 400px !important;
  height: 200px !important;
}

.box {
  width: 200px;
  height: 100px;
  font-size: 25px;
  color: #fff;
}

.box1 {
  background-color: green;
}

.box2 {
  background-color: royalblue;
}

.box3 {
  background-color: grey;
}

.overflowExample {
  width: 200px;
  height: 100px;
  border: 2px solid green;
  background-color: #ccc;
}

.overflowScroll {
  overflow: scroll;
}

.overflowHidden {
  overflow: hidden;
}

.overflowAuto {
  overflow: auto;
}

.overflowVisible {
  overflow: visible;
}

.backgroundExampleDiv {
  width: 200px;
  height: 200px;
  border: double 100px red;
  margin: 100px auto;
  padding: 20px;
  /* background-image: url(../../assets/upside_down_sun_god.webp); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  background-clip: content-box; */
  background: lightblue url(../../assets/upside_down_sun_god.webp) no-repeat;
}

.linearGradientExampleDiv {
  width: 200px;
  height: 200px;
  margin: 100px auto;

  background-image: linear-gradient(to top right, black, white, black);
}

.imageLinearGradientExampleDiv {
  width: 200px;
  height: 200px;
  margin: 100px auto;

  background: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.2)),
    url(../../assets/upside_down_sun_god.webp) no-repeat center / cover;
}

.textOverPicture {
  background-color: white;
}
