.container {
  background-color: darkblue;
  width: 600px;
  height: 600px;
}

.small {
  padding: 10px 5px;
  margin: 10px 0px;
  border: dotted 1px #000;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.top25 {
  top: 25px;
}

.top250 {
  top: 250px;
}

.left25 {
  left: 25px;
}

.left150 {
  left: 150px;
}

.bottom0 {
  bottom: 0;
}

.doubleSize {
  width: 400px !important;
  height: 200px !important;
}

.box {
  width: 200px;
  height: 100px;
  font-size: 25px;
  color: #fff;
}

.box1 {
  background-color: green;
}

.box2 {
  background-color: royalblue;
}

.box3 {
  background-color: grey;
}

.overflowExample {
  width: 200px;
  height: 100px;
  border: 2px solid green;
  background-color: #ccc;
}

.overflowScroll {
  overflow: scroll;
}

.overflowHidden {
  overflow: hidden;
}

.overflowAuto {
  overflow: auto;
}

.overflowVisible {
  overflow: visible;
}

.backgroundExampleDiv {
  width: 200px;
  height: 200px;
  border: double 100px red;
  margin: 100px auto;
  padding: 20px;
  /* background-image: url(../../assets/upside_down_sun_god.webp); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  background-clip: content-box; */
  background: lightblue url(../../assets/upside_down_sun_god.webp) no-repeat;
}

.linearGradientExampleDiv {
  width: 200px;
  height: 200px;
  margin: 100px auto;

  background-image: linear-gradient(to top right, black, white, black);
}

.imageLinearGradientExampleDiv {
  width: 200px;
  height: 200px;
  margin: 100px auto;

  background: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.2)),
    url(../../assets/upside_down_sun_god.webp) no-repeat center / cover;
}

.textOverPicture {
  background-color: white;
}

.animationHeading {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #555;
  text-shadow: 3px 3px 10px #888;
}

.animationCard {
  width: 200px;
  margin: 25px auto;
  background-color: #ccc;
  padding: 5px;
  text-align: center;
  box-shadow: 5px 5px 10px #777;
  transition: box-shadow 1s ease-in-out;
}

.animationCard:hover {
  box-shadow: 10px 10px 20px blue;
  cursor: pointer;
}

.animationCardImage {
  width: 100%;
}

.animationBox {
  margin: 25px auto;
  width: 100px;
  height: 100px;
  background-color: orangered;

  /* transition-property: width; */
  /* transition-duration: 1s; */
  /* transition-delay: 1s; */
  /* transition-timing-function: cubic-bezier(0.02, 0.95, 0.3, 0.4); */
  /* transition: width 1s ease-in, background-color 5s ease-in-out; */
  transition: all 1s;
}

.animationBox:hover {
  width: 400px;
  background-color: green;
}

.transformBox {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  background-color: purple;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;

  transition: transform 500ms;
}

.transformBox:hover {
  /* transform: translate(100px, 200px);
  transform: rotate(360deg);
  transform: scale(2, 0.5);
  transform: skew(30deg, 20deg);
  transform: rotate(180deg); */
  /* transform: rotateZ(90deg); */
  transform: scale(1.5, 1.5) rotate(360deg);
}

.animationBoxTwo {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  background-color: purple;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;

  position: relative;
  animation-name: dance;
  animation-duration: 4s;
  /* animation-delay: 2s; */
  /* animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; */

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: dance 4s ease-in 500ms 2 alternate both;
}

@keyframes dance {
  0% {
    left: 0;
    top: 0;
    background-color: purple;
  }

  25% {
    top: 0;
    left: 200px;
    background-color: green;
  }

  50% {
    left: 200px;
    top: 200px;
    background-color: goldenrod;
  }

  75% {
    left: 0;
    top: 200px;
    background-color: royalblue;
  }

  100% {
    left: 0;
    top: 0;
    background-color: purple;
  }
}
