.Grid {
  /* block-level styles */
}

.Grid__container {
  width: 600px;
  background-color: #ddd;
  margin: 40px auto;
  display: grid;
}

.Grid__example--one {
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px;
  /* row-gap: 30px;
  column-gap: 50px; */
  /* gap: 30px 50px; */
  gap: 30px;
}

.Grid__example--two {
  grid-template-rows: 150px auto;
  grid-template-columns: 150px auto auto;
  gap: 30px;
}

.Grid__example--three {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 3fr 2fr 1fr;
  gap: 30px;
}

.Grid__example--four {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 40% 2fr 1fr;
  gap: 30px;
}

.Grid__example--five {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 30vw 1fr 1fr;
  gap: 30px;
}

.Grid__example--six,
.Grid__example--seven,
.Grid__example--eight {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.Grid__item {
  padding: 30px;
  font-size: 30px;
  color: #fff;
}

.Grid__example--six .Grid__item--1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.Grid__example--six .Grid__item--2 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.Grid__example--six .Grid__item--3 {
  grid-area: 2 / 1 / 3 / 2; /*startCol / startRow / endCol /endRow*/
}

.Grid__example--seven .Grid__item--3 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.Grid__example--eight .Grid__item--4 {
  grid-column: 1 / span 2;
}

.Grid__item--1 {
  background-color: orangered;
}

.Grid__item--2 {
  background-color: olivedrab;
}

.Grid__item--3 {
  background-color: royalblue;
}
.Grid__item--4 {
  background-color: palevioletred;
}
.Grid__item--5 {
  background-color: goldenrod;
}
.Grid__item--6 {
  background-color: blueviolet;
}
.Grid__item--7 {
  background-color: greenyellow;
}
.Grid__item--8 {
  background-color: darkslategray;
}

.Grid__container--2,
.Grid__container--3,
.Grid__container--4 {
  width: 800px;
  height: 500px;
  background-color: #efefef;
  margin: auto;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.Grid__container--2 div,
.Grid__container--3 div,
.Grid__container--4 div {
  background-color: royalblue;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  color: #fff;
}

.Grid__container--2 .Grid__header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.Grid__container--2 .Grid__sidebar {
  grid-column: 1/2;
  grid-row: 2 / 5;
}

.Grid__container--2 .Grid__main {
  grid-column: 2 / -1;
  grid-row: 2 / 4;
}

.Grid__container--2 .Grid__box--1 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.Grid__container--2 .Grid__box--2 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.Grid__container--2 .Grid__box--3 {
  grid-column: 4/5;
  grid-row: 4/5;
}

.Grid__container--2 .Grid__footer {
  grid-column: 1 / -1;
  grid-row: 5 / -1;
}

.Grid__container--3 {
  /* every cell must have a name or this won't work
    can use '.' for empty cell, i.e. 'header header . .'
  */
  grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'sidebar main main main'
    'sidebar box1 box2 box3'
    'footer footer footer footer';
}

.Grid__container--3 .Grid__header {
  grid-area: header;
}

.Grid__container--3 .Grid__sidebar {
  grid-area: sidebar;
}

.Grid__container--3 .Grid__main {
  grid-area: main;
}

.Grid__container--3 .Grid__box--1 {
  grid-area: box1;
}
.Grid__container--3 .Grid__box--2 {
  grid-area: box2;
}
.Grid__container--3 .Grid__box--3 {
  grid-area: box3;
}

.Grid__container--3 .Grid__footer {
  grid-area: footer;
}

.Grid__container--4 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
  justify-items: end; /*stretch (def), start, end, center*/
  align-items: end; /*stretch (def), start, end center*/
}

.Grid__container--4 .Grid__item--3 {
  justify-self: stretch;
  align-self: stretch;
}

.Grid__container--4 .Grid__item--4 {
  justify-self: center;
  align-self: center;
  grid-row: 2/4;
  grid-column: 1/-1;
}

.Grid__container--4 .Grid__item--5 {
  justify-self: start;
  align-self: center;
}

.Grid__container--5 {
  width: 90%;
  margin: 40px auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 80px); */ /*empty cols at the end*/
  grid-template-columns: repeat(auto-fit, 80px);
}
