.FSPlanner__vault {
  background-color: brown;
  margin: auto;
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(26, minmax(0, 1fr));
  grid-template-rows: repeat(25, minmax(0, 1fr));
  gap: 1rem;
}

.FSPlanner__floor {
  height: 20px;
  background-color: midnightblue;
  color: white;
  font-size: 1.2rem;
  display: contents;
}

.FSPlanner__room {
  border: solid 2px darkgreen;
  padding: 1.2rem 0.5rem;
  background-color: blue;
}

.FSPlanner__room--unbuilt {
  border: 2px dashed #666;
  background: rgba(255, 255, 255, 0.1); /* subtle */
  opacity: 0.6;
}
