.component-outline {
  border: solid 1px #ccc;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-top: 1px solid #000;
}
