html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --sidebar-width: 10rem;
  --sidebar-z-index: 10;
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-top: 1px solid #000;
}
