.Navbar {
  background: #000;
  color: #fff;

  display: flex;
  align-items: center;
  gap: 10rem;

  padding: 2rem;
}

.Navbar__brand {
  font-size: 2rem;
  font-weight: 600;
}

.Navbar__links {
  display: flex;
  gap: 1.5rem;

  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 1.4rem;
}

.Navbar__links a {
  text-decoration: none;
  color: inherit;
}

.Navbar__links a:visited {
  color: inherit;
}

.Navbar__links a:hover,
.Navbar__links a:focus {
  opacity: 0.8;
}
